.hero-bg {
  background-image: url("../public/images/hero.png");
  background-size: cover;
  background-position: center;
}
.hero-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the color and opacity as needed */
  z-index: 1; /* Ensure the overlay is on top of the background */
}
